# Task List

This file should be a mix of code and text explaining what the code does

1. Import the data
2. Select the variables we're keeping
3. Change name of variables so that it's interpretable
4. Properly code missing values
5. Check for pattern of missing values (imputation necessary?)
6. Check binary variables so that they're 0/1 coded
7. Save as .csv file to repo

Import the data (stata file)

In [3]:
import pandas as pd

stataFile='https://github.com/arsell/599-Project/blob/master/raw/HNBR62FL.DTA?raw=true'

In [8]:
DHS=pd.read_stata(stataFile,convert_categoricals=False)

select our variables

In [9]:
DF=pd.DataFrame(DHS[['caseid', 'v133', 'v190', 'v191', 'v025']])

Rename our variables

In [11]:
DF.columns=['CASEID',
            'Education in single years', 
           'Wealth index categorical', 
           'Wealth index decimal',
           'Type of residence']

Check our variables for missing or improperly coded data points

In [12]:
DF.dtypes

CASEID                       object
Education in single years      int8
Wealth index categorical       int8
Wealth index decimal          int32
Type of residence              int8
dtype: object

In [14]:
print((DF[['CASEID','Education in single years', 
           'Wealth index categorical', 
           'Wealth index decimal',
           'Type of residence']] == 0).sum())

CASEID                          0
Education in single years    6616
Wealth index categorical        0
Wealth index decimal            0
Type of residence               0
dtype: int64

In [30]:
print((DF[['CASEID','Education in single years', 
           'Wealth index categorical', 
           'Wealth index decimal',
           'Type of residence']] == 99).sum())

CASEID                       0
Education in single years    3
Wealth index categorical     0
Wealth index decimal         0
Type of residence            0
dtype: int64

Recode Type of Residence as a true binary [0,1]

In [57]:
DF[['Type of residence']].replace(['1'], '0')

       Type of residence
0                      1
1                      1
2                      1
3                      1
4                      1
5                      1
6                      1
7                      1
8                      1
9                      1
10                     1
11                     1
12                     1
13                     1
14                     1
15                     1
16                     1
17                     1
18                     1
19                     1
20                     1
21                     1
22                     1
23                     1
24                     1
25                     1
26                     1
27                     1
28                     1
29                     1
...                  ...
49233                  2
49234                  2
49235                  2
49236                  2
49237                  2
49238                  2
49239                  2
49240                  2
49241                  2
49242                  2
49243                  2
49244                  2
49245                  2
49246                  2
49247                  2
49248                  2
49249                  2
49250                  2
49251                  2
49252                  2
49253                  2
49254                  2
49255                  2
49256                  2
49257                  2
49258                  2
49259                  2
49260                  2
49261                  2
49262                  2

[49263 rows x 1 columns]