# Task List

This file should be a mix of code and text explaining what the code does

1. Import the data
2. Select the variables we're keeping
3. Change name of variables so that it's interpretable
4. Properly code missing values
5. Check for pattern of missing values (imputation necessary?)
6. Check binary variables so that they're 0/1 coded
7. Save as .csv file to repo

Import the data (stata file)

In [31]:
import pandas as pd

stataFile='https://github.com/arsell/599-Project/blob/master/raw/HNBR62FL.DTA?raw=true'

In [32]:
dataStata=pd.read_stata(stataFile,convert_categoricals=False)

In [33]:
dataStata.head()

,caseid,bidx,v000,v001,v002,v003,v004,v005,v006,v007,...,s583,s583b,s584,s584b,s585,s586,s587,s588,s589,s591
0,1 21 1,1,HN6,1,21,1,1,1039584,3,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1 21 1,2,HN6,1,21,1,1,1039584,3,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 21 1,3,HN6,1,21,1,1,1039584,3,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1 21 1,4,HN6,1,21,1,1,1039584,3,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1 21 1,5,HN6,1,21,1,1,1039584,3,2012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN